<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <h1>Title</h1>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
     <label for="post-content">Content</label>
     <input class="form-input" id="content" value="{{post.content}}" size="50">
    </div>
    <button type="submit">Save Updated Post</button>
    <button type="button" class="delete-post-btn">Delete Post</button>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>